name: Trigger drills

on:
  push:
    branches:
      - 'main'

  pull_request:
    branches:
      - 'main'

  issues:
    types: [opened, edited, closed, assigned, unassigned, labeled, milestoned]

  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository code
      - uses: actions/checkout@v3

      - name: Print event details
        run: |
          echo "Event name: ${{ github.event_name }},the current job status is ${{job.status}} "

  handle-issues:
    if: ${{ github.event_name == 'issues' }}
    runs-on: ubuntu-latest
    steps:
      # Print issue details
      - name: Print issue details
        run: |
          echo "Issue action: ${{ github.event.action }}"
          echo "Issue title: ${{ github.event.issue.title }}"
          echo "Issue body: ${{ github.event.issue.body }}"
          echo "The current job status is ${{job.status}}"

  check-open-issues:
    if: ${{github.event_name=='schedule'}}
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository code
      - uses: actions/checkout@v3

      # Use GitHub API to check for open issues
      - name: Check for open issues
        run: |
          echo "Checking for open issues..."
          open_issues=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "${{ github.api_url }}/repos/${{ github.repository }}/issues?state=open" | jq '. | length')

          if [ "$open_issues" -gt 0 ]; then
            echo "There are $open_issues open issues in the repository!"
          else
            echo "No open issues found."
          fi
